.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.sign {
    border: 2px solid lightgray;
    padding: 25px 125px 50px 125px;
    border-radius: 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: -150px;
  }

.myButton {
	background-color:#000000;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	height: 40px;
    width: 300px;
	text-decoration:none;
    margin-top: 10px;
}
.myButton:hover {
	background-color:#707070;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myForm {
    border: 2px solid lightgray;
    border-radius:42px;
    margin-bottom: 15px;
    text-align: left;
    text-indent: 10px;
    height: 40px;
    width: 300px;
}


.center {
    text-align: center;
}

.padding {
    display: inline-block;
    padding-bottom: 5px;
    align-items: center;
}


.center {
    text-align: center;
}

/* Select */
select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  padding-left: 5px;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 10px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  outline-style: thin solid;
  outline-color: blue;
}
