.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.sign {
    border: 2px solid lightgray;
    padding: 25px 100px 50px 100px;
    border-radius: 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.myButton {
    background-color: #000000;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    height: 40px;
    width: 170px;
    text-decoration: none;

}

.myButton:hover {
    background-color: #707070;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myForm1 {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    text-indent: 10px;
    height: 40px;
    width: 400px;
}


.myCheck {
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}

.center {
    text-align: center;
}

.padding {
    display: inline-block;
    padding-bottom: 5px;
    align-items: center;
}

.datepicker {
    width: 400px;
}

.buttonSpace {
    display: flex;
    justify-content: space-around;
    /* border: solid black; */
    /* width: 200px; */
}
