.SignOutButton {
	background-color:#000000;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	height: 30px;
    width: 175px;
	text-decoration:none;
    border: none;
}

.SignOutButton:hover {
	background-color:#707070;
}
.SignOutButton:active {
	position:relative;
	top:1px;
}