NODE_ENV=development
PORT=9000
DB_PORT=3306
MAILER_PORT=587
API_URL=http://localhost:9000/
DB_HOST=
DB_PASSWORD=
DB_USER=admin
DB=pharmacy
MAILER_HOST=
MAILER_USER=
MAILER_PASSWORD=
MAILER_TO=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=